.assistent {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;

  &__dialog {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    &__wave {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      margin-bottom: 20px;
      z-index: 2;
    }

    &__speech {
      position: relative;
      width: 100%;
      max-height: 400px;
      margin-top: 80px;
      z-index: 2;

      p {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 64px;
        text-align: center;
        text-transform: capitalize;
        line-height: 85px;
        color: #fff;
      }
    }

    &__overlay {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: #000;
      opacity: 0.8;
      z-index: 1;
      animation: overlay-bg 1 ease-in 0.3s;
    }
  }
}

@keyframes overlay-bg {
  0% { opacity: 0; }
  100% { opacity: 0.8 }
}
