.assistentBtn {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 15px;
  padding: 3px;
  border-radius: 50%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  background: -moz-radial-gradient(center, ellipse cover, #eaeaea 47%, #b3aeae 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #b3aeae 47%, #b3aeae 100%);
  background: radial-gradient(ellipse at center, #eaeaea 47%, #b3aeae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#b3aeae',GradientType=1 );
  overflow: hidden;
  cursor: pointer;
  z-index: 10; }
  .assistentBtn:hover div {
    width: 80%;
    height: 80%;
    transition: ease-in-out 0.2s; }
  .assistentBtn__circl {
    position: absolute;
    border-radius: 50%;
    width: 70%;
    height: 70%;
    background: #721e99;
    background: -moz-radial-gradient(center, ellipse cover, #721e99 14%, #1f15a5 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #721e99 14%, #1f15a5 100%);
    background: radial-gradient(ellipse at center, #721e99 14%, #1f15a5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#721e99', endColorstr='#1f15a5',GradientType=1 );
    opacity: 0.7;
    animation: circle-size infinite ease-in-out 5.6s;
    transition: ease-in-out 0.2s; }

@keyframes circle-size {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.05); }
  50% {
    transform: scale(1.1); }
  75% {
    transform: scale(1.08); }
  100% {
    transform: scale(1); } }
